.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4.5rem var(--var-side-padding);
    text-align: center;
    gap: 0.8rem;
    background-image: url("/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    background-color: var(--var-color-dark-violet);
}
.heading {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 10rem var(--var-side-padding);
        gap: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        background-image: url("/images/bg-boost-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        padding: 4vw var(--var-side-padding);
        gap: 0.8rem;
    }
}