.container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.title {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}
.navlinks {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.link {
    color: var(--var-color-gray);
    font-size: 0.8rem;
}
.link:hover {
    color: var(--var-color-cyan);
}

@media screen and (min-width: 768px) {
    .container {
        gap: 2rem;
    }
    .title {
        font-size: 1.6rem;
    }
    .navlinks {
        gap: 0.8rem;
    }
    .link {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        gap: 1rem;
    }
    .title {
        font-size: 1.1vw;
    }
    .navlinks {
        gap: 0.4rem;
    }
    .link {
        font-size: 1.1vw;
    }
}