.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--var-paddind-6vw);
    margin-top: 2rem;
    width: 100%;
}

.navigation {
    z-index: 10;
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 0.5rem var(--var-paddind-6vw);
    background-color: var(--var-color-dark-violet);
    border-radius: 0.5rem;
    top: 3rem;
    left: var(--var-paddind-6vw);
    width: calc(100% - (var(--var-paddind-6vw) * 2));
}
.navigation.open {
    display: flex;
}
.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.5rem;
    list-style: none;
    border-bottom: 1px solid var(--var-color-grayish-violet);
}
.link {
    font-weight: 700;
    color: #fff;
}
.link:hover {
    color: var(--var-color-dark-violet);
}
.action_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.5rem;
}
.btn_login {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    width: fit-content;
    background-color: transparent;
    border: none;
}
.btn_burger {
    position: relative;
    width: 1.3rem;
    height: 1.2rem;
    background-color: transparent;
    border-top: 3px solid var(--var-color-grayish-violet);
    border-bottom: 3px solid var(--var-color-grayish-violet);
    border-left: none;
    border-right: none;
}
.btn_burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--var-color-grayish-violet);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 5vh;
    }
    .logo {
        width: 9rem;
        height: auto;
    }
    .btn_burger {
        width: 1.8rem;
        height: 1.6rem;
        border-top: 4px solid var(--var-color-grayish-violet);
        border-bottom: 4px solid var(--var-color-grayish-violet);
    }
    .btn_burger::after {
        height: 4px;
        background-color: var(--var-color-grayish-violet);
    }
    .navigation {
        top: 3.5rem;
        padding: 3rem 8vw;
    }
    .navlinks {
        gap: 2.5rem;
    }
    .link {
        font-size: 1.6rem;
    }
    .action_buttons {
        gap: 2.5rem;
    }
    .btn_login {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-top: 8vh;
        gap: 2rem;
    }
    .logo {
        width: auto;
    }
    .navigation {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: none;
        background-color: transparent;
        border-radius: none;
        width: 100%;
        padding: 0;
    }
    .navigation.open {
        display: flex;
    }
    .nav {
        display: flex;
    }
    .navlinks {
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        border-bottom: none;
    }
    .link {
        font-size: 1.28vw;
        color: var(--var-color-grayish-violet);
    }
    .action_buttons {
        flex-direction: row;
        gap: 0.5rem;
        padding: 0;
    }
    .btn_login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.28vw;
        color: var(--var-color-grayish-violet);
        font-weight: 700;
        width: 7rem;
    }
    .btn_burger {
        display: none;
    }
}