.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4.2rem var(--var-paddind-6vw) 0 var(--var-paddind-6vw);
    gap: 2rem;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100vw - (var(--var-paddind-6vw) * 2));
    margin: 0 ;
    border-radius: 0.5rem;
    padding: 1.4rem;
    background-image: url("/images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: 74%;
    background-position: 100% -100%;
    background-color: var(--var-color-dark-violet);
    left: 6vw;
    top: 0;
    transform: translateY(-50%);
}
.ipt {
    height: 2.2rem;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-color-cyan);
    height: 2.2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}