.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0 3rem 0;
    text-align: center;
}
.logo path {
    fill: #fff;
}
.navlist {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.social_icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon:hover path {
    fill: var(--var-color-cyan);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 5rem 0 6rem 0;
        gap: 5rem;
    }
    .logo {
        width: 9rem;
        height: auto;
    }
    .navlist {
        gap: 5rem;
    }
    .social_icons {
        gap: 2.2rem;
    }
    .icon {
        width: 2.8rem;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 5vw var(--var-paddind-6vw) 5.5vw var(--var-paddind-6vw);
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        text-align: left;
    }
    .logo {
        width: auto;
    }
    .navlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
        gap: 1vw;
    }
    .icon {
        width: auto;
    }
    .social_icons {
        gap: 1rem;       
    }
}

@media screen and (min-width: 1280px) {
    .navlist {
        gap: 3.5vw;
    }
}