.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4.5rem var(--var-paddind-6vw) 2rem var(--var-paddind-6vw);
    min-height: 15rem;
    gap: 0.8rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: #fff;
    text-align: center;
}
.icon_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--var-color-dark-violet);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}
.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--var-color-very-dark-blue);
}
.description {
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .container {
        min-height: auto;
        height: 14.8rem;
        padding: 3.5rem 2vw 2rem 2vw;
        text-align: left;
    }
    .container:nth-child(2) {
        margin-top: 1rem;
    }
    .container:nth-child(3) {
        margin-top: 2rem;
    }
    .icon_wrapper {
        width: 4rem;
        height: 4rem;
        left: 2vw;
        transform: translateX(0%) translateY(-50%);
    }
    .icon {
        width: 30px;
        height: auto;
    }
    .title {
        font-size: 0.9rem;
    }
    .description {
        font-size: 0.74rem;
    }
}