.container {
  display: flex;
  flex-direction: column;
  gap: none;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--var-color-gray-transparent);
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--var-color-very-dark-blue);
}
