.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.8rem;
    border-radius: 1.4rem;
    background-color: var(--var-color-cyan);
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.headingMd {
    font-size: 1.6rem;
    font-weight: 700;
}

.txtMd {
    font-size: 1rem;
    color: var(--var-color-grayish-violet);
}

@media screen and (min-width: 768px) {
    .btn {
        width: 8rem;
        font-size: 0.9rem;
        height: 2.6rem;
    }
    .txtMd {
        font-size: 0.8rem;
    }    
}

@media screen and (min-width: 1024px) {
    .btn {
        width: 13.5vw;
        font-size: 1.4vw;
        border-radius: 1.5rem;
        height: 3.8vw;
    }
    .txtMd {
        font-size: 1.54vw;
    }
    .headingMd {
        font-size: 3vw;
    }
}